@font-face {
    font-family: space;
    src: url('../portfolio/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

body {
    font-family: space;
    margin: 0;
    scroll-behavior: smooth;
}


header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 0;
    height: 5rem;
    z-index: 9;
}

#logo{
    position: fixed;
    top: 2rem;
    right: 2rem;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* hoogte van je vaste header */
}

.linkImg{
    width: 200px;
}

.landingsPage {
    position: relative;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    background-image: url('../../WSRP.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.dark-toggle {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: #222;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    font-size: 22px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.dark-toggle:hover {
    background: #333;
}

